@import '../../style/mixins';

.index-screen {
  header {
    background-image: linear-gradient(-134deg, #6f53a1, #311b58);
    color: $white;
    padding-bottom:200px;
  }
  header h1 {
    @include font-size(xxl);
    font-weight:500;
    margin:0;
  }
  header .grid {
    display: flex;
    align-items:flex-end;
    justify-content:space-between;
    padding-top:50px;
    @include content-max-width;
  }

  header .grid > * > :last-child {
    margin-bottom:0;
  }
  header .grid .submit {
    padding-bottom: 30px;
    justify-content:flex-end;
    width: 30%;
  }

  .aepps {
    margin-top: 20px !important;
    margin-bottom: 50px !important;
    @include content-max-width;
  }

  .item {
    padding: 8px;
    box-sizing: border-box;
    color: #444;
  }

  .item-big {
    width: 300px;
    height: 300px;
  }

  .item-medium {
    width: 200px;
    height: 200px;
  }

  .item-small {
    width: 100px;
    height: 100px;
  }

  .inner {
    padding: 10px 4px 10px 4px;
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
    height: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .title {
    text-align: center;
  }

  .item-big .inner {
     svg {
      margin: 0 auto;
      display: block;
      margin-top: 70px;
    }

    .title {
      margin-top: 20px;
      font-size: 26px;
    }
  }

  .item-medium .inner {
    svg {
      width: 85%;
      margin: 0 auto;
      display: block;
      margin-top: 40px;
    }

    .title {
      margin-top: 10px;
      font-size: 21px;
    }
  }

  .item-small .inner {
    svg {
      width: 100%;
      margin: 0 auto;
      display: block;
      margin-top: 5px;
    }

    .title {
      font-size: 14px;
    }
  }

  .item .expanded {
    position: absolute;
    top: 0;
    left: 0;
  }

  .isoDefault {
    min-height: 210px;
  }

  .modal {
    z-index: 1;
    header {
      background-image: none !important;
    }
  }
}
