@import '../../style/mixins';

.fields {
  color: #311b58;
  padding-top: 100px;
  @include content-max-width;
  display: block;
  margin-bottom: 100px;
}

.field {
  background: #FFFFFF;
  margin-top: 20px !important;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  padding-left: 15px !important;
}

.field div, .field input {
  background: #FFFFFF !important;
}

h1 {
  text-align: center;
  @include font-size(xxl);
  font-weight:500;
  margin:0;
}

.ae-label {
  text-align: center;
}

.ae-textarea {
  margin: 20px 0 0 0 !important;
  // background: #F7FAFC;
}

.submit-button {
  margin-top: 20px !important;
  margin: 0 auto;
  display: block !important;
  background-color: #311b58 !important;
}

.btn {
  display: none;
}

.vue-notification {
  background: #FF0D6A !important;
  border-left: 0px !important;
  text-align: center !important;
}
