@import '../../style/mixins';

.fields {
  color: #311b58;
  padding-top: 100px;
  @include content-max-width;
  display: block;
}

.field {
  margin-top: 20px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  padding-left: 15px;
  background-color: #F7FAFC;
}

h1 {
  text-align: center;
  @include font-size(xxl);
  font-weight:500;
  margin:0;
}

.ae-label {
  text-align: center;
}

.submit-button {
  margin-top: 20px !important;
  margin: 0 auto;
  display: block !important;
  background-color: #311b58 !important;
}

.btn {
  display: none;
}
